body{
    background-image: url(./starry-night-sky-background-illustration-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.galaxy{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;

}
.milkyway{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.sun{
    height:min(8vw, 8vh);
    width:min(8vw, 8vh);
    border-radius: 50%;
    background-color: rgb(255, 127, 92);
    box-shadow: 0 0  1vw 1vw  rgb(248, 112, 74);

}
.planet{
    position: absolute;
    border-radius:50%;
    height: var(--planetSize);
    width: var(--planetSize);

    transform: translate(var(--orbitSize));
    animation: revolution var(--revolutionSpeed) linear infinite;
    box-shadow: inset calc(var(--planetSize)/3) 0  calc(var(--planetSize)/2.5)  black;

   

}

.orbit{
    
    height:var(--planetOrbitSize);
    width:var(--planetOrbitSize);
    background-color: aliceblue;
      
}


.mercury{
    position: absolute;
    --planetSize:min(1.5vw, 1.5vh);
    --revolutionSpeed:3s;
    background-color: rgb(255, 0, 0);
    --orbitSize:min(9vw, 9vh);
    transform: translate(30px 0);
    --initialRotation:120deg;
    border:1px solid;
    --planetOrbitSize:min(9vw, 9vh);
    
}


.venus{
    --planetSize:min(3vw, 3vh);
    background-color:brown;
    --orbitSize:min(12.3vw, 12.3vh);
    --revolutionSpeed:6s;
    --initialRotation:10deg;
    
}
.earth{
    --planetSize:min(3.5vw, 3.5vh);
    background-color:rgb(25, 187, 112);
    --orbitSize:min(17vw, 17vh);
    --revolutionSpeed:10s;
    --initialRotation:250deg;
    
    
}
.mars{
    --planetSize:min(3vw, 3vh);
    background-color:rgb(184, 121, 11);
    --orbitSize:min(22vw, 22vh);
    --revolutionSpeed:15s;
    --initialRotation:360deg;
    
}
.jupiter{
    --planetSize:min(6vw, 6vh);
    background-color:rgb(233, 193, 144);
    --orbitSize:min(28.7vw, 28.7vh);
    --revolutionSpeed:25s;
    --initialRotation:180deg;
    
}
.saturn{
    --planetSize:min(4.5vw, 4.5vh);
    background-color:rgb(146, 220, 225);
    --orbitSize:min(35.7vw, 35.7vh);
    --revolutionSpeed:30s;
    --initialRotation:90deg;
    
}
.uranus{
    --planetSize:min(4vw, 4vh);
    background-color:rgb(94, 176, 253);
    --orbitSize:min(42vw, 42vh);
    --revolutionSpeed:45s;
    --initialRotation:60deg;
    
}
.neptune{
    --planetSize:min(3vw, 3vh);
    background-color:rgb(12, 11, 95);
    --orbitSize:min(48vw, 48vh);
    --revolutionSpeed:60s;
    --initialRotation:200deg;
    
    @keyframes revolution{
        from{
            transform:rotate(var(--initialRotation)) translate(var(--orbitSize)) rotate(180deg);
        }
        to{
            transform: rotate(calc(360deg + var(--initialRotation)))  translate(var(--orbitSize)) rotate(180deg);
        }
    }
}