*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background-image: url(./Assets/Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.text-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    margin: 2vh;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 15px;

    max-width: 40vw;
    min-height: 96vh;


}


.title-container{
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    

}

.text-container h1{
    color: rgb(255, 255, 255);
}


.heavenly-bodies{
    border: 3px solid black;
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    min-height: 50px;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

}


.toggle{
    display: none;
}


.button {
    background-color:rgb(150, 128, 197);
    border-radius: 10px;
    padding: 1vw;
    line-height: 50px;
}

.overlay{
    position: fixed;
    top: 30vh;
    width: 25vw;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    font-size: 16px;

}

.toggle:checked ~ .overlay {
    display: flex;
}






.galaxy{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;

}
.milkyway{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.sun{
    height:min(8vw, 8vh);
    width:min(8vw, 8vh);
    border-radius: 50%;
    background-color: rgb(255, 216, 167); 
    box-shadow: 0 0  5vw 1.2vw  rgb(254, 233, 208);


}
.planet{
    background-size: cover;

    border: none;
    position: absolute;
    border-radius:50%;
    height: var(--planetSize);
    width: var(--planetSize);

    transform: translate(var(--orbitSize));
    animation: revolution var(--revolutionSpeed) linear infinite;
    box-shadow: inset calc(var(--planetSize)/3) 0  calc(var(--planetSize)/2.5)  black;

}


.orbit{
    
    height:var(--planetOrbitSize);
    width:var(--planetOrbitSize);
    background-color: aliceblue;
      
}


.mercury{
    background-image: url(./Assets/Images/Mercury.jpg);
    --planetSize:min(1.5vw, 1.5vh);
    --revolutionSpeed:3s;
    background-color: rgb(255, 0, 0);
    --orbitSize:min(9vw, 9vh);
    --initialRotation:120deg;
    border:1px solid;
    /* --planetOrbitSize:min(9vw, 9vh); */
    
}


.venus{
    background-image: url(./Assets/Images/Venus.jpg);

    --planetSize:min(3vw, 3vh);
    background-color:brown;
    --orbitSize:min(12.3vw, 12.3vh);
    --revolutionSpeed:6s;
    --initialRotation:10deg;
    
}
.earth{
    background-image: url(./Assets/Images/earth.jpg);

    --planetSize:min(3.5vw, 3.5vh);
    background-color:rgb(25, 187, 112);
    --orbitSize:min(17vw, 17vh);
    --revolutionSpeed:10s;
    --initialRotation:250deg;
    
    
}
.mars{
    background-image: url(./Assets/Images/mars.jpg);

    --planetSize:min(3vw, 3vh);
    background-color:rgb(184, 121, 11);
    --orbitSize:min(22vw, 22vh);
    --revolutionSpeed:15s;
    --initialRotation:360deg;
    
}
.jupiter{
    background-image: url(./Assets/Images/jupiter.jpg);

    --planetSize:min(6vw, 6vh);
    background-color:rgb(233, 193, 144);
    --orbitSize:min(28.7vw, 28.7vh);
    --revolutionSpeed:25s;
    --initialRotation:180deg;
    
}
.saturn{
    background-image: url(./Assets/Images/saturn.jpg);

    --planetSize:min(4.5vw, 4.5vh);
    background-color:rgb(146, 220, 225);
    --orbitSize:min(35.7vw, 35.7vh);
    --revolutionSpeed:30s;
    --initialRotation:90deg;
    
}
.uranus{
    background-image: url(./Assets/Images/uranus.jpg);

    --planetSize:min(4vw, 4vh);
    background-color:rgb(94, 176, 253);
    --orbitSize:min(42vw, 42vh);
    --revolutionSpeed:45s;
    --initialRotation:60deg;
    
}
.neptune{
    background-image: url(./Assets/Images/neptune.jpg);

    --planetSize:min(3vw, 3vh);
    background-color:rgb(12, 11, 95);
    --orbitSize:min(48vw, 48vh);
    --revolutionSpeed:60s;
    --initialRotation:200deg;
}
    
    @keyframes revolution{
        from{
            transform:rotate(var(--initialRotation)) translate(var(--orbitSize)) rotate(180deg);
        }
        to{
            transform: rotate(calc(360deg + var(--initialRotation)))  translate(var(--orbitSize)) rotate(180deg);
        }
    }