body{
    background-image: url(./starry-night-sky-background-illustration-vector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.galaxy{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;

}

.sun{
    height: 7vw;
    width:7vw;
    background-color: rgb(212, 93, 67);
    border-radius: 50%;
    box-shadow: 0px 0px  40px 2vw #e30505  ;

}
.planet{
    height: var(--planetSize);
    width: var(--planetSize);
    transform: translate(var(--orbitSize));
    border-radius:50%;
    border:1px solid #a09e9e;
    animation: revolution var(--revolutionSpeed) linear infinite;
    position: absolute;

}

@keyframes revolution{
    from{
        transform: rotate(0deg) translate(var(--orbitSize));
    }
    to{
        transform: rotate(360deg) translate(var(--orbitSize))
    }
}


.mercury{
    --planetSize:2vw;
    --revolutionSpeed:0.8s;
    background-color: rgb(255, 0, 0);
    --orbitSize:10vw;
}
.venus{
    --planetSize:3vw;
    background-color:brown;
    --orbitSize:15vw;
    --revolutionSpeed:1.2s;


}
.earth{
    --planetSize:4vw;
    background-color:rgb(25, 187, 112);
    --orbitSize:20vw;
    --revolutionSpeed:5s;


}
.mars{
    --planetSize:3vw;
    background-color:rgb(184, 121, 11);
    --orbitSize:25vw;
    --revolutionSpeed:7s;


}
.jupiter{
    --planetSize:6vw;
    background-color:rgb(233, 193, 144);
    --orbitSize:32vw;
    --revolutionSpeed:12s;


}
.saturn{
    --planetSize:9vw;
    background-color:rgb(146, 220, 225);
    --orbitSize:35vw;
    --revolutionSpeed:17s;


}
.uranus{
    --planetSize:4vw;
    background-color:rgb(94, 176, 253);
    --orbitSize:40vw;
    --revolutionSpeed:25s;


}
.neptune{
    --planetSize:3vw;
    background-color:rgb(12, 11, 95);
    --orbitSize:45vw;
    --revolutionSpeed:30s;


}